.container
  a(class='anchor',name='agenda')
  h2 Agenda
  .speaker-box.bordered-shadowed
    each track in tracks
      h3 #{track.name}
      table.table.table-bordered.table-striped
        tbody
          tr
            th Time
            th Activity
          each activity in track.track
            tr
              if activity.startTime && activity.endTime
                td
                  | #{activity.startTime} - #{activity.endTime}
              else
                td
                  | All Day
              td
                if activity.speaker
                  a(href= '#activity-' + activity.name) #{activity.name}
                else
                  span #{activity.name}
    p#subtochange
      | (Agenda is still subject to change, please head over to
      a(href='http://www.utahgeekevents.com/Event/DevFestFamily2014/Sessions',target='_blank') UtahGeekEvents.com
      |  to see more proposed sessions)
  .clear
  a(class='anchor',name='sessions')
  h2 Sessions
  each activity in activities
    if activity.speaker
      .speaker-box.bordered-shadowed
        div
          a(class='anchor',name= 'activity-' + activity.name)
          if !activity.speaker.noPhoto
            .speaker-avatar
              a(href= activity.speaker.url, target='_new')
                img.img-circle(src= activity.speaker.photo, alt= activity.speaker.name)
          .speaker-name
            if activity.speaker.url
              a(href= activity.speaker.url, target='_new') #{activity.speaker.name}
            else
              span #{activity.speaker.name}
          .speaker-company.text-muted
            if activity.speaker.company.url
              a(href= activity.speaker.company.url) #{activity.speaker.company.name}
            else
              span #{activity.speaker.company.name}
          .speaker-company !{activity.speaker.company.template}
          .session-info
            h5 #{activity.name}
            p !{activity.speaker.sessionTemplate}
  .clear
