.container
  h2 Agenda
  .speaker-box.bordered-shadowed
    a(name='agenda')
    each day in days
      div
        h3.day-name #{day.name} - #{day.simpleDate}
        table.table.table-bordered.table-striped
          tbody
            tr
              th Time
              th Activity
            each activity in day.activities
              tr
                td
                  | #{activity.startTime} - #{activity.endTime}
                td
                  if activity.speaker
                    a(href= '#activity-' + activity.name) #{activity.name}
                  else
                    span #{activity.name}
    p (Agenda is still subject to change)
  .clear
  h2 Sessions
  a(name='sessions')
  each day in days
    div
      each activity in day.activities
        if activity.speaker
          .speaker-box.bordered-shadowed
            div
              a(name= 'activity-' + activity.name)
              if !activity.speaker.noPhoto
                .speaker-avatar
                  a(href= activity.speaker.url, target='_new')
                    img.img-circle(src= activity.speaker.photo, alt= activity.speaker.name)
              .speaker-name
                a(href= activity.speaker.url, target='_new') #{activity.speaker.name}
              .speaker-company.text-muted
                a(href= activity.speaker.company.url) #{activity.speaker.company.name}
              .speaker-company !{activity.speaker.company.template}
              .session-info
                h5 #{activity.name}
                p !{activity.speaker.sessionTemplate}
  .clear
